body {
    background: red url('../images/background.png');
	background-size: cover;
	background-clip: content-box;
	background-position: center center;
	background-repeat: no-repeat;
    font-family: 'Comfortaa', Arial, Verdana;
    width: 100%;
    min-height: 100vh;
    padding: 3vh 3vw;
    display: flex;
    align-items: center;
}

.content {
    background-color: lightgray;
    background-color: rgba(255,255,255,.5);
    border: 0px solid transparent;
    border-radius: 10px;
    min-height: 100%;
    width: 100%;
    padding: 1%;
}

.row,
.col-xs-12 {
    width: 100%;
}

.question-image {
    height: auto;
    -webkit-filter: none;
    -webkit-transition: -webkit-filter 0.4s ease-in;
    width: 30%;
}

.silhouette {
	-webkit-filter: contrast(0%) brightness(20%);
	-webkit-transition: -webkit-filter 0s;
}

.loading-image,
.game-results,
.question-display,
.answer-display,
.question-result,
.restart {
    display: none;
}

p {
    font-size: 24px;
}

.loading-image {
    height: auto;
    width: 100px;
}

h2 {
    font-weight: bolder;
}

.game-results {
	background-color: none;
	background-color: rgba(0,0,0,.2);
	border: 0px solid transparent;
	border-radius: 10px;
	margin: 1% auto;
	max-width: 80%;
}

.btn p {
	margin: 0;
}